<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>victorfabregatoutlook.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kangarootimetracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kangarootimetracker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KangarooTimeTracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KangarooTimeTracker</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="mongodb://KangarooDev:dyldLi05TuL9hNwCUuuOuJNFY5zuKc73PObkRtEWySQ-@ds050077.mongolab.com:50077/KangarooDev" />
          <Object Type="DbDacFx">
            <PreSource Path="mongodb://localhost:27017" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mongodb://localhost:27017" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://victorfabregatoutlook.onmicrosoft.com/WebApp-kangarootimetracker.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>2517bc58-c429-426f-89a0-12b5ea36c714</ADClientAPPID>
    <ADClientPassword />
    <ADReplyUrl>https://kangarootimetracker.azurewebsites.net/</ADReplyUrl>
    <ADIssuer>https://login.windows.net/victorfabregatoutlook.onmicrosoft.com/wsfed</ADIssuer>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>mongodb://KangarooDev:dyldLi05TuL9hNwCUuuOuJNFY5zuKc73PObkRtEWySQ-@ds050077.mongolab.com:50077/KangarooDev</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>